body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6d6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.logo {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em; /* Add margin to separate from main content */
}

/* Punk Vintage Styles */
body {
    background-size: cover;
    background-repeat: no-repeat;
}

header, footer {
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    font-family: 'Impact', sans-serif; /* Punk font */
    text-transform: uppercase;
    letter-spacing: 1px;
}

section h2 {
    font-family: 'Impact', sans-serif; /* Punk font */
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Tab Styles */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-link {
    cursor: pointer;
}




.tab-link.active {
    text-decoration: underline;
}

/* Social Media Styles */
.social-media {
    margin-top: 1em;
}

.social-media a {
    color: #fff;
    margin: 0 0.5em;
    font-size: 1.5em;
    text-decoration: none;
}
		
.social-media a:hover {
    color: #ff6347; /* Change color on hover */
}

/* Image Styles */
.image-container-main {
	display: flex;
	align-items: center;
    justify-content: space-between; /* Add justify-content: space-between */
    margin-bottom: 5em;
}
.image-container {
    display: flex;
	align-items: center;
    justify-content: space-between; /* Add justify-content: space-between */
    margin-bottom: 1em;
}
.bio-image {
    max-width: 30%; /* Adjust the width as needed */
    max-height: auto;
	margin: 0 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.large-image {
	 max-width: 60%; /* Adjust the width as needed */
    max-height: auto;
	margin: 0 1em;
    border-radius: 5px;
}

.portfolio-image {
    max-width: 30%; /* Adjust the width as needed */
    max-height: auto;
	margin: 0 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main-image {
    max-width: 60%; /* Adjust the width as needed */
    max-height: auto;
	margin: 0 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.main-portrait-image {
    max-width: 30%; /* Adjust the width as needed */
    max-height: auto;
	margin: 0 13em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.image-description {
    font-size: 1em;
    color: #333;
    text-align: center;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-height: 99%;
	max-width: 80%;
	position: relative; /* Add position relative */
    top: 50%; /* Add top 50% */
    transform: translate(0%, -50%); /* Add transform */
}

/* Image Styles */
.modal-content img {
    max-width: 100%; /* Add max-width 100% */
    height: auto;
    margin: 0 auto; /* Add margin 0 auto */
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close {
	position: absolute;
	font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
	top: 30%;
    right: 10px;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

.prev {
    left: 10px;
    color: #f1f1f1;
}

.next {
    right: 10px;
    color: #f1f1f1;
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    color: #bbb;
    text-decoration: none;
}



/* Media Queries for Responsive Design */
@media (max-width: 1199px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5em 0;
    }

    .logo {
        margin-bottom: 1em;
    }
	.image-container {
        flex-direction: column; /* Change flex-direction to column for screens smaller than 1200px */
    }
	.image-container-main {
		flex-direction: column;
	}
    .portfolio-image {
        max-width: 70%; /* Change max-width to 100% for screens smaller than 1200px */
        margin: 0 auto 1em; /* Add margin to center the image */
    }
	.main-portrait-image {
        max-width: 60%; /* Change max-width to 100% for screens smaller than 1200px */
        margin: 0 auto 1em; /* Add margin to center the image */
    }
	.main-image {
		max-width: 95%;
		margin: 0 auto 1em;
	}
	.large-image {
		max-width: 99%;
		margin: 0 auto 0em;
	}
	.bio-image {
		max-width: 50%;
	}
}
